@import url("https://fonts.googleapis.com/css?family=Montserrat");
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 1.3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  font-size: 12px;
  color: #7f7f7f;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.center svg.fingerprint path.clone {
  transition: stroke-dashoffset 2s ease-out;
  -webkit-animation: try 2.5s ease-out;
          animation: try 2.5s ease-out;
}
.center svg.fingerprint.active {
  transform: scale(0.97);
}
.center svg.fingerprint.active path.clone {
  stroke-dashoffset: 0;
}
h1 {
  font-size: 30px;
  transform: translateY(-50px);
}
.scan,
.scan-success {
  font-size: 15px;
  transform: translateY(50px);
  color: #666;
}
.scan-success {
  display: none;
}
.center .fingerprint,
.center .icon-success {
  width: 135px;
  height: 135px;
  overflow: visible;
}
.center .icon-success {
  position: absolute;
  top: 40px;
}
.center .icon-success circle {
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.center .icon-success path {
  opacity: 0;
  transition: stroke-dashoffset 350ms 100ms ease;
}
.center.success .fingerprint {
  transform: scale(0);
}
.center.success .icon-success circle {
  transform: scale(1);
}
.center.success .icon-success path {
  stroke-dashoffset: 0;
  opacity: 1;
  transition: opacity 0s, stroke-dashoffset 0.5s;
}
.center.success .scan {
  display: none;
}
.center.success .scan-success {
  display: block;
}
@-webkit-keyframes try {
  0%, 100% {
    stroke-dashoffset: 178;
  }
  50% {
    stroke-dashoffset: 100;
  }
}
@keyframes try {
  0%, 100% {
    stroke-dashoffset: 178;
  }
  50% {
    stroke-dashoffset: 100;
  }
}